
.auction{
    color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: solid;
    width: 50%;
    margin:5px auto;
    padding: 10px;
    background:lightsteelblue;
}


.auction div{
    padding: 20px;
    margin: auto;

}
.auction_page{
    padding: 50px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    width: 80%;
    margin: auto;
    background: lightsteelblue;
}

.auction_page div{
    padding: 10px;
}


.auction_info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}

.auction_text{
    margin:auto;
}

.comment{
    background: lightskyblue;
    width: fit-content;
    margin: 5px;
    border-radius: 10px;
}

.auction:hover{
    background: lightgray;
}


.image img{
    max-height: 500px;
    max-width: 500px;
}

.image_small img{
    max-height: 200px;
    max-width: 200px;
}

a:hover{
    text-decoration: none;
}

.watchlist_button{
    text-align: right;
}

.description{
    padding: 30px;
}

.create_container{
    border: solid;
    width: 80%;
    margin:20px auto 20px auto;
    padding: 30px;

}

.create_input div{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 50%;
    margin:auto;
    padding: 20px;

}

.create_container input[type=number]{
    width: fit-content;
}

.create_submit{    
    width: fit-content;
    margin: 30px auto;
}

textarea {
    resize: none;
    height: 200px;

}

.comments_section{
    border-top: dotted;
}

.comments_section textarea{
    width: 600px;
}

.comment_text{
    width: fit-content;
    margin: auto;
}

.comment_text input[type=submit]{
    text-align: right;
}

