body {
    padding: 10px;
}

.auction {
    border: solid;
    border-color: black;
    margin: 15px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;

}

.image img{
    width: 500px;
    height: 500px;
}

.image_small img{
    width: 100px;
    height: 100px;
}

input, label {
    display:block;
}