body {
    padding: 10px;
    background-color: lightseagreen;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    color: black;
}

.auction_page{
    width: 70%;
    border: solid;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    background-color: whitesmoke;
}

.watchlist_button{
    width: fit-content;
    margin-left: auto;
    margin-right: 1%;

}

.auction {
    border: solid;
    border-color: black;
    margin: 15px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: whitesmoke;

}

.auction:hover{
    background-color: lightgray;
}

.auction_info{
    display: inline-block;
    max-width: 40%;
    border: solid;
    
}

.auction_info div{
    margin:20px;
}

.image{
    display: inline-block;
    margin:20px;

}

.image_small{
    display: inline-block;
    margin:20px;
}

.image img{
    width: 500px;
    height: 500px;
}

.image_small img{
    width: 200px;
    height: 200px;
}

.comments_section{
    border: solid;
}

.description{
    margin:20px
}