{% extends "auctions/layout.html" %}

{% block body %}
<h2>Auction Page</h2>

<div class="auction_page">


    <div class="watchlist_button">
        {% if edit %}
        <form action="" method="POST">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Close auction" name="delete">
        </form>
        {% else %}
        <form action="" method="POST">
            {% csrf_token %}

            {% if watchlist == True %}
            <input type="hidden" name="action" value="remove">
            <input class="btn btn-danger" type="submit" name="watchlist" value="Remove from watchlist">
            {% else %}
            <input type="hidden" name="action" value="add">
            <input class="btn btn-dark" type="submit" name="watchlist" value="Add to watchlist">
            {% endif %}
        </form>
        {% endif %}
    </div>

    <div class="auction_info">
        <div class="image">
            <img src="{{ auction.item.image_url }}" alt="No photo">
        </div>
        <div class="auction_text">
            <div>
                <h1>{{ auction.item.title }}</h1>
            </div>

            <div>
                Auction created by: <b>{{ auction.seller }}</b>
            </div>

            <form action="" method="POST">
                {% csrf_token %}

                <div>
                    <h2>Actual price: {{ auction.price }} $</h2>
                </div>
                <div>
                    <input type="number" max="9999999999" min="0.01" step="0.01" name="bid_value">
                    <input class="btn btn-success" type="submit" value="Bid" name="bid">
                </div>
            </form>

            {% if auction.winner %}
            <div>
                <h6>Actual winner - {{ auction.winner }}</h6>
            </div>
            {% endif %}

            {% if message %}
            <div class="alert alert-primary">
                {{ message }}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="description">
        <h4>Descreption: </h4>
        {{ auction.item.description }}
    </div>

    <div class="comments_section">
            Comments:
            {% if comments %}

                {% for comment in comments %}
                <div class="comment">
                {{ comment.author }}: {{ comment.text }}
                </div>
                {% endfor %}

            {% else %}
            <div>
                No comments yet
            </div>
            {% endif %}

            <form action="" method="POST">
                {% csrf_token %}
                <div class="comment_text">
                    <p>Add comment:</p>
                    <textarea name="text"></textarea>
                    <div class="watchlist_button">
                        <input type="submit" value="Comment" name="comment">
                    </div>
                </div>

            </form>
    </div>

</div>

{% endblock %}