{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create listing</h2>

    <form action="{% url 'create_listing' %}" method="POST">
        {% csrf_token %}

        <label for="title">Title:</label>
        <input type="text" name="title">
        <label for="description">Description:</label>
        <input type="textarea" placeholder="description..." name="description">
        <label for="url">Image url:</label>
        <input tpye="url" placeholder="https//www.image.jpg" name="url">
        <label for="category">Category:</label>
        <select name="category">
            {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <label for="price">Price:</label>
        <input type="number" min="0.01" step="0.01" name="price">
        <label for="end_date">End date:</label>
        <input type="date" name="end_date">

        <input type="submit" value="Create new auction">
 
    </form>

{% endblock %}