{% extends "auctions/layout.html" %}

{% block body %}
<h2>Auction closed</h2>


<div class="auction_page">

    <div class="auction_info">
        <div class="image">
            <img src="{{ auction.item.image_url }}" alt="No photo">
        </div>
        <div class="auction_text">
            <div>
                <h1>{{ auction.item.title }}</h1>
            </div>


            {% if auction.winner %}
            <div>
                <h2>{{ auction.winner }} bought it for {{ auction.price }}</h2>
            </div>
            {% else %}
            <div>
                <h2>Nobody bought it</h2>
            </div>
            {% endif %}

            
        </div>
    </div>

               
    <div class="description">
        <h4>Descreption: </h4>
        {{ auction.item.description }}
    </div>

{% endblock %}