{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ title }}</h2>

    
    {% if auctions %}
    {% for auction in auctions %}
    <a href="{% url 'auction_page' page=auction.id %}">
        <div class="auction">
            <div>
                <h2>{{ auction.item.title }}</h2>
            </div>
            <div class="image_small">
                <img src="{{ auction.item.image_url }}" alt="No photo">
            </div>
            <div>
                <h3>Actuall price: $ {{ auction.price }}</h3>
            </div>
            <div>
                {% if auction.active == True %}
                Auction active
                {% else %}
                Auction closed
                {% endif %}
            </div>
            <div>
                {% if auction.winner %}
                Winner: {{ auction.winner }}
                {% else %}
                None bid it.
                {% endif %}
            </div>
    </div>
    </a>
    {% endfor %}

    {% else %}
        <div>No auctions</div>
    {% endif %}

{% endblock %}